body {
    font-family: Arial, sans-serif;
}

.text-test {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clicker-button {
    position: absolute;
    height: 50px;
    width: 150px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    border-radius: 10px;
}

.click-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.krn-button {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    border: none;
    opacity: 0;
}

.clock {
    position: absolute;
    font-size: 60px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.krnl-div {
    position: absolute;
    left: 90%;
    top: 60%;
    opacity: 0;
    transform: translate(-90%, -60%);
}

.click-box {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0%;
    top: 0%;
    transform: translate(-0%, -0%);
    border: none;
    opacity: 0%;
}

.text-404 {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.st1 {
    position: absolute;
    top: 80px;
}

.st2 {
    position: absolute;
    top: 120px;
}

.st3 {
    position: absolute;
    top: 160px;
}

.st4 {
    position: absolute;
    top: 200px;
}

.st5 {
    position: absolute;
    top: 240px;
}